Repository pagopa/selfcare-infra, pull requests merged in 2023-05, with the labels that each got.

#319 Feature/add pnpg product apim
  src/core/README.md
  src/core/api_product/io/policy.xml
  src/core/api_product/pnpg/policy.xml
  src/core/apim.tf
  src/domains/pnpg-app/06_selc_apim_pnpg.tf
  src/domains/pnpg-app/README.md
  src/domains/pnpg-app/api_product/pnpg_dev/policy.xml
  src/domains/pnpg-app/api_product/pnpg_uat/policy.xml
  src/domains/pnpg-app/api_product/pnpg_uat_cert/policy.xml
  src/domains/pnpg-app/api_product/pnpg_uat_coll/policy.xml
  src/domains/pnpg-app/api_product/pnpg_uat_svil/policy.xml
  src/domains/pnpg-common/README.md
  src/k8s/subscriptions/DEV-SelfCare/terraform.tfvars
Labels: status: applied, UAT

#328 modified env for USERVICE_PARTY_MANAGEMENT_URL
  src/k8s/selc_configmaps.tf
Labels: status: applied, DEV

#331 Feature/selc add product pn
  src/core/README.md
  src/core/api_product/pn_test/policy.xml
  src/core/api_product/pn_uat/policy.xml
  src/core/apim.tf
  src/domains/pnpg-app/06_selc_apim_pnpg.tf
  src/domains/pnpg-app/README.md
  src/domains/pnpg-app/api_product/pnpg_test/policy.xml
  src/domains/pnpg-common/README.md
Labels: status: applied, UAT

#325 Feature/selc 2287
  src/k8s/00_secrets.tf
  src/k8s/README.md
  src/k8s/selc_secrets.tf
Labels: status: applied, DEV

#336 fix: AKS min node size, APIM add prod-pn-test
  src/core/apim.tf
  src/core/env/uat/terraform.tfvars
Labels: status: applied, UAT

#337 refactor base path
  src/core/apim.tf
  src/domains/pnpg-app/10_selc_configmaps.tf
  src/k8s/selc_configmaps.tf
  src/k8s/subscriptions/DEV-SelfCare/terraform.tfvars
  src/k8s/subscriptions/PROD-SelfCare/terraform.tfvars
  src/k8s/subscriptions/UAT-SelfCare/terraform.tfvars
Labels: status: applied, DEV, UAT

#339 fix: Upgrade redis version to 6
  src/core/99_variables.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
  src/core/redis_cache.tf
Labels: status: applied, DEV, UAT, PROD

#345 feature/SELC-2367
  src/core/README.md
  src/core/contracts_template/pagopa/1.0.0/pagopa-accordo_di_adesione_psp-v.1.0.0.html
Labels: status: applied, DEV, UAT

#346 modified hmtl text and added recipient code placeholder in pn contract
  src/core/contracts_template/pn/1.0.0/pn-accordo_di_adesione-v.1.0.0.html
Labels: status: applied, DEV, UAT

#352 fix: Update eventhub ip rules for Prod-io test
  src/core/env/prod/terraform.tfvars
Labels: status: applied, PROD

#353 fix: Sap ip for eventhub
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/env/uat/terraform.tfvars
Labels: status: applied, DEV, UAT, PROD
